.body,
.html {
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
}

.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  height: auto;
}

.Header .HeaderChild1 {
  display: flex;
  gap: 70px;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
}

.Header .HeaderChild2 {
  display: flex;
  align-items: center;
  gap: 30px;
  padding-right: 100px;
}

.ConnectButton {
  width: 150px;
  height: 40px;
  display: inline-block;
  position: relative;
  overflow: hidden;
  border: none;
  background: var(--blue);
  font-size: 16px;
  cursor: pointer;
}

.parentContainer {
  min-height: 100vh;
  background-image: linear-gradient(
    to right,
    rgb(148, 234, 255),
    rgb(206, 170, 255)
  );
}

.pageContainer {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto;
  padding: 10px;
}

.paperDetails {
  background-color: aliceblue;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  height: auto;
  gap: 10px;
}

.previewContainer {
  display: grid;
  grid-template-columns: 60% 40%;
  padding: 20px 100px;
}

.previewContainer .getAccess {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 50px 10px;
}

.contributionFormParent {
  display: grid;
  grid-template-columns: 60% 40%;
  padding: 0 150px;
}
.contributionForm {
  display: flex;
  flex-direction: column;

  gap: 20px;
  /* background-color: #f0f8ff5c; */
}
